.accordionContainer{
  background-color: #F8F8FA;
	padding: 0px 12px;
	border-radius: 5px;
	margin-bottom: 10px;
}


.accordionTitle{
	padding: 10px 0px;
	height: 40px;
	color: #D299FC;
}

.accordionTitleIcon{
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;

}

.accordionIconWrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 25px;
	width: 25px;
}

.accordionIcon{
	transition: transform 600ms ease-in-out;
}

.iconRotate{
	transform: rotate(90deg);
}



.accordionContent{
	overflow: hidden;
	/* display: none; */
	transition: all  0.6s cubic-bezier(0.65, 0, 0.35, 1);
}

.visible{
	overflow: visible;
}


