.container{
	flex-grow: 0;
	flex-shrink: 0;
	background-color: #D299FC;
	height: 100vh;
	width: 285px;
	display: flex;
	justify-content: center;
	align-items: center;
}


.asideBanner{
	width: 275px;
	height: 495px;
}