.container{
	flex-grow: 1;
	background-color: #FFFFFF;
	height: 100vh ;
	overflow-y: auto;
	padding: 0px 20px 0 20px;
	position: relative;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.container{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


.campSearchInputWrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 10px;
	margin: 0 -10px;
	/* margin-top: 15px; */
	margin-bottom: 25px;
	position: sticky;
	top: 0px;
	font-family: "Aeonik Medium",sans-serif;
	background-color: #FFFFFF;
	/* z-index: 2; */

	z-index: 1;

}




.campTitleText{
	font-size: 32px;
	font-family: "Aeonik Bold",sans-serif;
	color: #535353;

}

.searchWrapper{
	position: relative;
	height: 38px;
	
}


.searchIcon{
	position:absolute;
	top: 10px;
	left: 15px;
}

.searchBox{
  width: 210px;
	border-radius: 10px;
	font-family: "Aeonik Medium", sans-serif;
	border: 1px solid #F8F8FA;
	font-size: 14px;
	padding-left: 45px;
	height: 100%;
	outline: 0;
}


.addNewCampWrapper{
	width: 180px;
	height: 38px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border: 1px dotted #D299FC;
	border-radius: 10px;
	cursor: pointer;
}

.addCampIcon{
	height: 12px;
	width: 12px;
}

.addNewCampBtn{

	font-size:14px;
	color: #D299FC;
}

/* sort and active btn */

.activeSortContainer{
	display: flex;
	gap: 20px;
	margin-bottom: 25px;
}

.sortTitleIconWrapper, .activeTitleIconWrapper{
	display: flex;
	justify-content: center;
	gap: 15px;
	align-items: center;
	height: 40px;
	border: 1px dashed #535353;
	border-radius: 5px;
	padding: 10px 15px;
	font-family: "Aeonik Regular";
	font-size: 14px;
	cursor: pointer;
}

.sortBtn, .activeBtn{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 25px;
	width: 25px;
}


.campTableHeader{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: "Aeonik Bold", sans-serif;
	color: #535353;
	font-size: 14px;
  margin-bottom: 15px;
}

.campHeadSlNo,.campSlNo{
	display: flex;
	align-items: center;
	width: 25px;
}

.campHeadName, .campName{
	display: flex;
	align-items: center;
	white-space: nowrap;
	width:125px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.campHeadDesc, .campDesc{
	display: inline-block;
	align-items: center;
	white-space: nowrap;
	padding-top: 5px;
	width:165px;
	overflow: hidden;
	text-overflow: ellipsis;
}


.campHeadStreak{
	width: 70px;
}

.campStreakBtnEnabled{
	width: 70px;
	font-size: 14px;
	display: flex;
	font-family: "Aeonik Regular";
	justify-content: center;
	align-items: center;
	background-color: #D299FC;
	color: #FFFFFF;
	height: 25px;
	border-radius: 5px;
}


.campStreakBtnDisabled{
	width: 70px;
	font-size: 14px;
	font-family: "Aeonik Regular";

	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #B0B0B0;
	height: 25px;
	color: #FFFFFF;
	border-radius: 5px;
}


.campHeadAction{
	width: 70px;
}

.actionWrapper{
	display: flex;
	align-items: center;
	gap: 5px;
	width: 70px;
}

.campActionWrite, .campActionDelete{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 25px;
	width: 25px;
	border: 1px solid #535353;
	border-radius: 5px;
}

.campWriteIcon, .campDeleteIcon{
	height: 20px;
	width: 20px;

}


.campDescActionStreak{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: "Aeonik Regular", sans-serif;
	font-size: 14px;
	border-bottom: 1px solid #535353;
	padding: 15px 0;
	cursor: pointer;
}


/* table */

.table{
	text-align: left;
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
}


.rewardHeader{
	font-size: 14px;
	font-family: "Aeonik Bold";
	color: #535353;
	height: 40px;
}




.tableData{
	
	height: 50px;
	font-family: "Aeonik Regular";
	font-size: 14px;
}


.tableAlignRight{
  text-align: right;
}

.rewardActionWrapper{
	display: flex;
	justify-content: flex-end;
	gap: 9px;
}

.rewardSlNo{
	width: 30px;
}

.rewardName{
	width: 170px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.rewardElName{
	width:210px;
}

.rewardType{

}


.rewardElType{

}

.rewardElMax{
	/* text-align: center; */
}

.rewardUnits{

}

.rewardActions{

}

.tableRow{
	border-bottom: 1px solid #535353;
	border-width: thin;
	cursor: pointer;
}