.container{
	
	width: 280px;
	background-color: #FFFFFF;
	padding: 15px;
	border-radius: 10px;
	filter: drop-shadow(0px 4px 7px rgba(0, 0, 0, 0.24));
}



.campNameEmojiHolder{
	display: flex;
	justify-content: space-between;
	padding-bottom: 17px;
	border-bottom: 1px solid #000000;
}

.campNameSm{
	font-size: 14px;
	padding-bottom: 7px;
	font-family: "Sophia Pro Medium", sans-serif;
	color: #C4C4C4;
}

.campNameTitle{
	font-size: 24px;
	font-family: "Sophia Pro Medium", sans-serif ;
	color: #000000;
}

.campEmojiHolder{
	width: 50px;
	height: 50px;
	background-color: #FFEEEC;

	/* for emoji */
	font-size: 24px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.campEmojiIcon{
	height: 28px;
	width: 24px;

}

.campDescInstrWrapper{
	padding-top: 17px;
	border-bottom: 1px solid black;
}

.campStreakMedalHolder{
	display: flex;
	gap: 15px;
}



.campStreakMedalExploreHolder{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 17px;
}

.campDesc{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 17px;
	
}
.campDescTitle,.campInstrTitle{
	font-size: 14px;
	font-family: "Sophia Pro Regular";
}

.campRightArrowIcon{
	height: 14px;
	width: 6px;
}

.campInstr{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 17px;
}

.campExploreHolder{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #535353;
	font-family: 'Sophia Pro Regular';
	color: white;
	border-radius: 10px;
	width: 100px;
	height: 35px;
	font-size: 14px;
	gap: 10px;
}


.campStreak, .campMedal{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 35px;
	width: 35px;
	border-radius: 10px;
	border: 1px solid black;
}

.campStreakIcon{
	width: 14px;
	height: 20px;
}


.campMedalIcon{
	width: 17px;
	height: 20px;
}