

.inputBox{
	height: 40px;
	width: 100%;
	padding: 5px;
	font-family: "Aeonik Medium";
	color: #535353;
	border-radius: 5px;
	border: 1px solid #ECECEC;
}

.inputBox::placeholder{
	color: #B0B0B0;
}

.inputBox:focus-within{
	outline: none;
}
