.container{
	flex-grow: 1;
	/* min-width: 645px; */
	
	background-color: #FFFFFF;
	height: 100vh ;
	overflow-y: auto;
	padding: 0px 20px 0 20px;
	position: relative;
}



/* Hide scrollbar for Chrome, Safari and Opera */
.container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.container{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


.greetSearchWrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 10px;
	margin: 0 -10px;
	margin-bottom: 25px;
	position: sticky;
	top: 0px;
	background-color: #FFFFFF;
	z-index: 2;

}

.greetText{
	font-size: 24px;
	font-family: "Aeonik Medium";
	color:#535353;
}


.searchWrapper{
	position: relative;
	height: 38px;
	
}

.searchIcon{
	position:absolute;
	top: 10px;
	left: 15px;
}

.searchBox{
  width: 210px;
	border-radius: 10px;
	border: 1px solid #F8F8FA;
	font-size: 14px;
	font-family: "Aeonik Medium";
	padding-left: 45px;
	height: 100%;
	outline: 0;
}

.reportCard{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 25px 20px;
	font-family: "Aeonik Medium",sans-serif;
	background-color: #D299FC;
	border-radius: 10px;
	margin-bottom: 25px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


.reportTitle{
	font-size: 10px;
	padding-bottom: 2px ;
	
}

.reportExpCount{
	font-size: 20px;
	padding-bottom: 2px ;
}

.reportExpStart{
	font-size: 12px;
}

.verticalLine{
	height: 36px;
	width: 2px;
	background-color: #FFFFFF;
}


.reportContent{
	display: flex;
	align-items: center;
	color: #FFFFFF;
	gap: 12px;
}

.reportImgWrapper{
	background-color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


.reportImg{
	height: 25px;
	width: 25px;
}

.trendsWrapper{
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
}

.trendCard{
	background-color: #F8F8FA;
	color: #535353;
	padding: 14px;
	font-family: "Aeonik Medium", sans-serif;
	flex-grow: 0;
	flex-shrink: 0;
	height: 186px;
	border-radius: 10px;
	width: 180px;
}

.trendCardHovered:hover{
	background-color: #D299FC;
	color: #FFFFFF;
}

.trendCardHovered:hover .trendImgWrapper{
	border-bottom: 1px solid #FFFFFF;
}


.trendTitle{
	font-size: 20px;

}

.trendImgWrapper{
	padding: 5px 0px 5px 0px;
	font-size: 10px;
	border-bottom: 1px solid #535353;
}


.trendId,.trendExpName,.trendCampName{
	font-size: 12px;
}


.trendIdTitle,.trendExpTitle, .trendCampTitle{
	font-size: 14px;
	padding-top: 10px;
}


.progBarsWrapper{
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
}

.expOverviewWrapper{
	display: flex;
	justify-content: space-between;
	position: sticky;
	padding: 0 10px 5px 10px ;
	margin: 0 -10px 25px -10px; 

	top: 48px;
	background-color: #FFFFFF;
	z-index: 2;
}

.expOverviewTitle{
	display: flex;
  align-items: center;
	font-size: 24px;
	font-family: "Aeonik Medium";
	color:#535353;

}

.addNewExpWrapper{
	 width: 180px;
   height: 38px;
	 display: flex;
	 justify-content: space-around;
	 align-items: center;
	 border: 1px dotted #D299FC;
	 border-radius: 10px;
}

.addExpIcon{
	height: 12px;
	width: 12px;
}

.addNewExpBtn{
	font-family: "Aeonik Medium", sans-serif;
	font-size: 14px;
	color: #D299FC;
}

.expOverviewContainer{
	display: flex;
	justify-content: space-between;
	gap: calc((100% - 540px)/ 2);
	color: #535353;
}

.expOverviews{
	width: 100%;

}

.expOverviewTile{
	padding: 15px 12px;
	border: 1px solid #EBEBEB;
	border-radius: 10px;
	font-family: "Aeonik Medium", sans-serif;
	margin-bottom: 18px;
}

.expOverviewTile:hover{
	box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.06);
}

.expImgContainer{
	width: 40px;
	height: 40px;
	border-radius: 10px;
	border: 1px solid #EBEBEB;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.11);
}


.expImgPreview{
	width: 25px;
	height: 25px;
}

.expNameTitle{
	font-size: 14px;
	font-weight: 500px;
	padding-bottom: 7px;
}

.expStatusWrapper{
  height: 72px;
}

.expTypeStatusWrapper{
	display: flex;
	gap: 20px;
}

.expType{
	font-size: 10px;
	
	padding: 2px 12px;

	background-color: #D299FC;
	color: #FFFFFF;
	border-radius: 5px;
}

.expStatus{
	font-size: 10px;
	padding-top: 2px;
  padding-bottom: 1px;
	border-bottom: 1px solid #535353;
}

.expStatusContainer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 10px;
	gap: 5px;
}

.expStatusTitle{
	width: 40px;
}


.expOverviewTile{
	display: flex;
	justify-content: space-between;
}

.expImgTitleWrapper{
	display: flex;
	gap: 15px;
	
}

.expBtnWrapper{
	height: 40px;
	width: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #EBEBEB;
	border-radius: 10px;
}

.expGoToBtn{
	width: 14px;
	height: 8px;
}

