.container{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
  left: -10px;
	right: 0px;
	padding: 0 0 20px 10px;
	/* fallback */
	background: rgba(234, 234, 234, 0.9); 
	z-index: 5;
  -webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	
}


/* if backdrop support: very transparent and blurred */
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .container {
		background-color: rgba(234, 234, 234, .67);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}

.modalContentWrapper{
  
	background-color: #D29AFF;
	border-radius: 25px;
	/* height: 350px; */
	width: 620px;
	padding: 25px 25px;
}

.modalContent{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 29px;
	
}

.campCardPreviewText{
	font-size: 36px;
	color: white;
	font-family: "Aeonik Bold", sans-serif;

}

/* .campCardTextSample{
	
} */


.closeModal{
	display: flex;
	align-items: center;
	gap: 15px;
	padding-bottom: 12px;
	cursor: pointer;
	
}

.closeIconWrapper{
	height: 15px;
	width: 15px;
}

.closeIcon{
	height: 12px;
	width: 12px;
	
}

.closeText{
	font-family: "Aeonik Bold";
	font-size: 14px;
	color: #FFFFFF;
}