.campNameHolder,
.campDescHolder,.voucherCodeHolder{
	padding-bottom: 15px;
}

.campNameTitle,
.campDescTitle{
	font-family: "Aeonik Bold";
	font-size: 14px;
	color: #535353;
	padding-bottom: 10px;
}

.inputBox{
	height: 40px;
	width: 100%;
	padding: 5px;
	font-family: "Aeonik Medium";
	color: #535353;
	border-radius: 5px;
	border: 1px solid #ECECEC;
}

.inputBox::placeholder{
	color: #B0B0B0;
}

.inputBox:focus-within{
	outline: none;
}


.campConfirmSubmitBtn{
	margin-top: 15px;
	display: flex;
	justify-content: center;
	padding: 15px 0;
	gap: 20px;
	align-items: center;
	background-color: #D299FC;
	font-family: "Aeonik Medium";
	color: #FFFFFF;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
}

.campConfirmIconHolder{
	height: 19px;
	width:19px;
}
