.container{
	flex-grow: 1;
	/* min-width: 645px; */
	background-color: #FFFFFF;
	height: 100vh ;
	overflow-y: auto;
	padding: 0px 20px 0 20px;
	position: relative;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.container{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


.campSearchInputWrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 10px;
	margin: 0 -10px;
	/* margin-top: 15px; */
	margin-bottom: 25px;
	position: sticky;
	top: 0px;
	font-family: "Aeonik Medium",sans-serif;
	background-color: #FFFFFF;
	z-index: 2;
	padding-bottom: 20px;

}


.campTitleText{
	font-size: 32px;
	font-family: "Aeonik Bold",sans-serif;
	color: #535353;

}

.searchWrapper{
	position: relative;
	height: 38px;
	
}


.searchIcon{
	position:absolute;
	top: 10px;
	left: 15px;
}

.searchBox{
  width: 210px;
	border-radius: 10px;
	border: 1px solid #F8F8FA;
	font-family: "Aeonik Medium", sans-serif;
	font-size: 14px;
	padding-left: 45px;
	height: 100%;
	outline: 0;
}

.viewCampWrapper{
	cursor: pointer;
	width: 180px;
	height: 38px;
	display: flex;
	padding-left: 10px;
	align-items: center;
	border: 1px dotted #D299FC;
	gap: 10px;
	border-radius: 10px;
}


.viewCampIcon{
	height: 12px;
	width: 30px;
}

.viewCampBtn{
	font-size: 14px;
  color: #D299FC;
}

.campInstrText{
	font-family: "Aeonik Regular";
	color: #535353;
	font-weight: 400;
	font-size: 14px;
	padding-bottom: 20px;
	border-bottom: 1px solid #535353;
}


.learnMore{
	font-weight: 700;
	
}

.campFormCardWrapper{
	display: flex;
	justify-content: space-between;
	padding-top: 35px;
}

.campFormContainer{
	width: 300px;
	font-family: "Aeonik Medium";
	color: #535353;
}

.campNameHolder,
.campDescHolder{
	padding-bottom: 15px;
}

.campNameTitle,
.campDescTitle{
	font-family: "Aeonik Bold";
	font-size: 14px;
	padding-bottom: 10px;
}

.inputBox{
	height: 40px;
	width: 100%;
	padding: 5px;
	color: #535353;
	font-family: "Aeonik Medium";
	border-radius: 5px;
	border: 1px solid #ECECEC;
	
}

.inputBox::placeholder{
	color: #B0B0B0;
}

.inputBox:focus-within{
	outline: none;
}

.campEmojiStreakWrapper{
	display: flex;
	width: 300px;
	justify-content: space-between;
	padding-bottom: 10px;
}

.campTitleHeader{
	font-family: "Aeonik Bold";
	font-size: 14px;
	padding-bottom: 10px;
}

.emojiSelectorWrapper{
	z-index: 3;
}

.emojiStyle{
	font-size: 20px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #ECECEC;
	border-radius: 5px;
	height: 40px;
	width: 40px;
	background-color: #FFFFFF;
}

.toggleSwitchHolder{
	height: 40px;
	display: flex;
	align-items: center;
}


.campConfirmSubmitBtn{
	display: flex;
	justify-content: center;
	padding: 15px 0;
	gap: 20px;
	height: 50px;
	align-items: center;
	background-color: #D299FC;
	width: 280px;
	font-family: "Aeonik Medium";
	color: #FFFFFF;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
}



.campConfirmIconHolder{
	height: 19px;
	width:19px;
}

.addItemHolder{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 18px;
	width: 18px;
}

.addItemIcon{
	width: 15px;
	height: 15px;
}

.expRulesAddIconHolder{
	display: flex;
	gap: 20px;
	align-items: center;
	padding-bottom: 10px;
}

.expRulesTitle{
	font-family: "Aeonik Bold";
	font-size: 14px;

}

.expRulesInputs{
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.attemptsMaxContainer{
	display: flex;
	justify-content: space-between;
	padding-bottom: 10px;
}

.attemptsContainer{
	max-width: 135px;
}

.maxAttemptContainer{
	width: 95px;
}

.maxAttemptNumber{
	height: 40px;
}

.maxAttemptInput{
	width: 100%;
	height: 100%;
	color: #535353;
	font-family: "Aeonik Medium";
	font-size: 14px;
	border: 1px solid #ECECEC;
	padding: 10px;
	border-radius: 5px;
}

.maxAttemptInput:focus{
	outline: none;
}

.dateTimePickerContainer{
	height: 40px;
}

.dateTimePickerInput{
	display: flex;
	height: 40px;
	width: 100%;
	font-family: "Aeonik Medium";
	border: 1px solid #ECECEC;
	padding: 10px;
	border-radius: 10px;
  color: #535353;
	outline: none;
}

.dateTimePickerInput:focus{
	outline: none;
}




.dateTimePickerLabel {
  position: relative;
}

.dateTimePickerLabel:before {
  content: "";
	z-index: 1;
  position: absolute;
  left: 90%;
	top: 25%;
	height: 18px;
	width: 18px;
  background: url('../assets/calendar.svg ') center / contain no-repeat;
}


.progressbarContainer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
}

.progressbar{
	width:55px;
	height: 6px;
	border-radius: 10px;
	background-color: #D9D9D9;
}

.progressbar1,
.progressbar2,
.progressbar3,
.progressbar4{
	background-color: #535353;
	cursor: pointer;

}


.totalQtnContainer{
	width: 115px;
}

.totalQtnInput , .timeToComplete{

	width: 95px;
	height: 100%;
	color: #535353;
	font-family: "Aeonik Medium";
	font-size: 14px;
	border: 1px solid #ECECEC;
	padding: 10px;
	border-radius: 5px;

}

.totalQtnInputWrapper{
	display: flex;
	justify-content: flex-end;
}

.questionsContainer{

}

.questionsIcon{
	height: 18px;
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 15px;
}

.questionsTitleText{
	font-size: 14px;
	font-family: "Aeonik Bold";
	display: flex;
	align-items: center;
}


.questionAddIconContainer{
	display: flex;
	align-items: center;
}

.inputBox{
	height: 40px;
	width: 100%;
	padding: 5px;
	font-family: "Aeonik Medium";
	color: #535353;
	border-radius: 5px;
	border: 1px solid #ECECEC;
}

.inputBox::placeholder{
	color: #B0B0B0;
}

.inputBox:focus-within{
	outline: none;
}
