.container{
	flex-grow: 1;
	/* min-width: 645px; */
	background-color: #FFFFFF;
	height: 100vh ;
	overflow-y: auto;
	padding: 0px 20px 0 20px;
	position: relative;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.container{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


.campSearchInputWrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 10px;
	margin: 0 -10px;
	/* margin-top: 15px; */
	margin-bottom: 25px;
	position: sticky;
	top: 0px;
	font-family: "Aeonik Medium",sans-serif;
	background-color: #FFFFFF;
	z-index: 2;
	padding-bottom: 20px;

}



.campTitleText{
	font-size: 32px;
	font-family: "Aeonik Bold",sans-serif;
	color: #535353;

}

.searchWrapper{
	position: relative;
	height: 38px;
	
}


.searchIcon{
	position:absolute;
	top: 10px;
	left: 15px;
}

.searchBox{
  width: 210px;
	border-radius: 10px;
	border: 1px solid #F8F8FA;
	font-family: "Aeonik Medium", sans-serif;
	font-size: 14px;
	padding-left: 45px;
	height: 100%;
	outline: 0;
}

.viewCampWrapper{
	cursor: pointer;
	height: 38px;
	display: flex;
	padding: 5px;
	align-items: center;
	border: 1px dotted #D299FC;
	gap: 10px;
	border-radius: 10px;
}


.viewCampIcon{
	height: 12px;
	width: 30px;
}

.viewCampBtn{
	font-size: 14px;
  color: #D299FC;
}


.campInstrText{
	font-family: "Aeonik Regular";
	color: #535353;
	font-weight: 400;
	font-size: 14px;
	padding-bottom: 20px;
	border-bottom: 1px solid #535353;
	margin-bottom: 35px;
}


.learnMore{
	font-weight: 700;
	
}

.rewardContentMain{
	width: 300px;
  padding-bottom: 20px;
	
}

.rewardType{
	font-family: 'Aeonik Bold';
	font-size: 14px;
	color: #535353;
	padding-bottom: 10px;
}

.rewardTypeTitle{
	padding-bottom: 9px;
}

.campNameHolder{
	padding-bottom: 15px;
}

.campNameTitle,.campDescTitle{
	font-family: "Aeonik Bold";
	font-size: 14px;
	color: #535353;
	padding-bottom: 10px;
}

.inputBox{
	height: 40px;
	width: 100%;
	padding: 5px;
	color: #535353;
	font-family: "Aeonik Medium";
	border-radius: 5px;
	border: 1px solid #ECECEC;
	
}


.inputBox::placeholder{
	color: #B0B0B0;
}

.inputBox:focus-within{
	outline: none;
}



.maxRewardsContainer{
	display: flex;
	justify-content: space-between;
	padding-bottom: 10px;
}

.totalQtnContainer{
	width: 115px;
}

.totalQtnInput , .timeToComplete{

	width: 100%;
	height: 100%;
	color: #535353;
	font-family: "Aeonik Medium";
	font-size: 14px;
	border: 1px solid #ECECEC;
	padding: 10px;
	border-radius: 5px;

}


.totalQtnInput:focus{
	outline:none;
}

.timeToComplete:focus{
	outline:none;
}

.campConfirmSubmitBtn{
	margin-top: 15px;
	display: flex;
	height: 50px;
	justify-content: center;
	gap: 20px;
	align-items: center;
	background-color: #D299FC;
	font-family: "Aeonik Medium";
	color: #FFFFFF;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
}

.campConfirmIconHolder{
	height: 19px;
	width:19px;
}


.pointerNone{
  pointer-events: none;
	
}
