.voucherCodeGenerate{
	display: flex;
	gap: 24px;
}

.campNameHolder,
.campDescHolder,.voucherCodeHolder{
	padding-bottom: 15px;
}


.campNameTitle,
.campDescTitle{
	font-family: "Aeonik Bold";
	font-size: 14px;
	color: #535353;
	padding-bottom: 10px;
}

.inputBox{
	height: 40px;
	width: 100%;
	padding: 5px;
	font-family: "Aeonik Medium";
	color: #535353;
	border-radius: 5px;
	border: 1px solid #ECECEC;
}

.inputBox::placeholder{
	color: #B0B0B0;
}

.inputBox:focus-within{
	outline: none;
}

.maxAttemptContainer{
	width: 95px;
}

.maxAttemptNumber{
	height: 40px;
}

.maxAttemptInput{
	width: 100%;
	height: 100%;
	color: #535353;
	font-family: "Aeonik Medium";
	font-size: 14px;
	border: 1px solid #ECECEC;
	padding: 10px;
	border-radius: 5px;
}

.maxAttemptInput:focus{
	outline: none;
}

.inputFileHolder{
	margin-top: 10px;
	display: flex;
	align-items: center;
	background: #FFFFFF;
	border: 1px dashed #ECECEC;
	border-radius: 5px;
}


.inputTypeFile{
	width: 100%;
	font-family: "Aeonik Medium";
	color: #535353;
}

.inputTypeFile::file-selector-button {
  height: 35px;
	width: 100px;
  background-color: #535353;
	color: #FFFFFF;
	border-style: none;
	border: none;
	border-radius: 5px;
	font-family: "Aeonik Medium";
	font-size: 14px;
}


.orContainer{
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
	gap: 5px;
	align-items: center;
}

.hr{
	height: 1px;
	width: 100%;
	background-color: #B0B0B0;
}

.pexelFileUpload{
	display: flex;
  justify-content: center;
	font-family: "Aeonik Medium";
  align-items: center;
  margin-top: 5px;
  font-size: 14px;
  height: 40px;
  background-color: #FFFFFF;
  border-radius: 5px;
  border: 1px dashed #ECECEC;
  color: #B0B0B0;
	cursor: pointer;
}


.campConfirmSubmitBtn{
	margin-top: 15px;
	display: flex;
	justify-content: center;
	padding: 15px 0;
	gap: 20px;
	align-items: center;
	background-color: #D299FC;
	font-family: "Aeonik Medium";
	color: #FFFFFF;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
}
