.container{
	position: fixed;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  z-index: 9999;
	max-width: 1280px;
	margin: 0 auto;
	display: flex;
}


.box1{

	flex-grow: 0;
  width: 280px;
}

.box2{
	flex-grow: 1;
	background: rgba(234, 234, 234, 0.9); 
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.box3{
	flex-grow: 0;
	width: 285px;
}