.container{
	width: 10px;
	height: 72px;
	border-radius: 5px;
	background-color: #EBEBEB;
	display: flex;
	align-items: flex-end;
}

.progressValue{
	background-color: #D29AFF;
	border-radius: 5px;

}