.container{
	border-top: 1px solid #535353;
	padding: 18px 0;
}

.questionBox{
	height: 40px;
  width: 100%;
  padding: 5px;
	margin-bottom: 10px;
  color: #535353;
  font-family: "Aeonik Medium";
  border-radius: 5px;
  border: 1px solid #ECECEC;
}

.questionBox:focus{
	outline: none;
}

.questionSetupTitle{
	font-family: "Aeonik Bold";
  font-size: 14px;
  padding-bottom: 10px;
}

.assets{
	position: static;
}

.toggleSwitch{
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.selectContainer{
	
	width: 150px;
}
.inputFileHolder{
	margin-top: 10px;
	display: flex;
	align-items: center;
	background: #FFFFFF;
	border: 1px dashed #ECECEC;
	border-radius: 5px;
}

.inputTypeFile{
	width: 100%;
}

.inputTypeFile::file-selector-button {
  height: 35px;
	width: 100px;
  background-color: #535353;
	color: #FFFFFF;
	border-style: none;
	border: none;
	border-radius: 5px;
	font-family: "Aeonik Medium";
	font-size: 14px;
}

.orContainer{
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
	gap: 5px;
	align-items: center;
}

.orTitleText{
	height: 20px;
}

.hr{
	height: 1px;
	width: 100%;
	background-color: #B0B0B0;
}


.pexelFileUpload{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5px;
	font-size: 14px;
	height: 40px;
	background-color: #FFFFFF;
	border-radius: 5px;
	border: 1px dashed #ECECEC;
	color: #B0B0B0;

}
.questionsIcon{
	margin-top: 10px;
	height: 18px;
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 15px;
}



.questionsTitleText{
	font-size: 14px;
	font-family: "Aeonik Bold";
	display: flex;
	align-items: center;
}

.questionAddIconContainer{
	display: flex;
	align-items: center;
}

.addItemIcon{
	width: 15px;
	height: 15px;
}
