.container{
	width: 280px;
	background-color: #FFFFFF;
	padding: 15px;
	border-radius: 10px;
	filter: drop-shadow(0px 4px 7px rgba(0, 0, 0, 0.24));
}



.expNameEmojiHolder{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 17px;
	border-bottom: 1px solid #000000;
}

.campNameHolder{
	max-width: 185px;
}

.expNameSm{
	font-size: 14px;
	padding-bottom: 7px;
	font-family: "Sophia Pro Medium", sans-serif;
	color: #C4C4C4;
}

.expNameTitle{
	font-size: 24px;
	font-family: "Sophia Pro Medium", sans-serif ;
	color: #000000;
}

.quizEmojiHolder{
	width: 60px;
	height: 60px;
	

	/* for emoji */
	font-size: 24px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}


.quizStarIcon{
  position: relative;
	height: 60px;
	width:60px;
}


.campEmojiIcon{
  position: absolute;
	

}

.campDescInstrWrapper{
	padding-top: 17px;
	border-bottom: 1px solid black;
}

.expDescWrapper{
	display: flex;
	gap: 10px;
	align-items: center;
	padding-top: 17px;
}


.campStreakMedalHolder{
	display: flex;
	gap: 15px;
}

.playNowTitleIconHolder{
	display: flex;
	align-items: center;
	font-family: "Sophia Pro Regular";
	font-size: 14px;
	gap: 10px;
}

.playNowTitle{
	display: flex;
	justify-content: center;
	align-items: center;
}



.playNow{
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
 align-items: center;
}

.playNowIcon{
	width: 15px;
	height: 10px;
}

.campStreakMedalExploreHolder{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 17px;
}

.campDesc{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 17px;
	
}
.expDescTitle,.campInstrTitle{
	display: flex;
	align-items: center;
	font-size: 14px;
	font-family: "Sophia Pro Regular";
}

.hourglassIconHolder{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20px;
	width: 20px;
}

.hourglassIcon{
	height: 18px;
	width: 14px;
}


.ecgIcon{
	width: 18px;
	height: 14px;
}

.rewardIcon{
	width: 15px;
	height: 18px;
}

.campInstr{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 17px;
}

.playNowBtnHolder{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #535353;
	font-family: 'Sophia Pro Regular';
	color: white;
	border-radius: 10px;
	margin-top: 17px;
	height: 35px;
	font-size: 14px;
	gap: 10px;
}


