.container{
	border-top: 1px solid #535353;
	padding: 18px 0;
}

.questionBox{
	height: 40px;
  width: 100%;
  padding: 5px;
	margin-bottom: 10px;
  color: #535353;
  font-family: "Aeonik Medium";
  border-radius: 5px;
  border: 1px solid #ECECEC;
}

.questionBox:focus{
	outline: none;
}

.questionSetupTitle{
	font-family: "Aeonik Bold";
  font-size: 14px;
  padding-bottom: 10px;
}


.campDescHolder{
	padding-bottom: 15px;
}

.campDescTitle{
	font-family: "Aeonik Bold";
	font-size: 14px;
	padding-bottom: 10px;
}