/* .container{
	position: sticky;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
  top :0px;
	right: 0px;
	margin: -20px;
	
	padding: 0 0 20px 10px;

	background: rgba(234, 234, 234, 0.9); 
	z-index: 5;
  -webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	
} */

/* 
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .container {
		background-color: rgba(234, 234, 234, .67);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
} */



.modalContentWrapper{
  
	background-color: #D29AFF;
	border-radius: 25px;
	height: 350px;
	width: 400px;
	padding: 25px 25px;
	overflow-y: scroll;
	
}

.modalContentWrapper::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.modalContentWrapper {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* .modelContent{

} */


.closeModal{
	display: flex;
	align-items: center;
	gap: 15px;
	padding-bottom: 12px;
	cursor: pointer;
	
}

.closeIconWrapper{
	height: 15px;
	width: 15px;
}

.closeIcon{
	height: 12px;
	width: 12px;
	
}

.closeText{
	font-family: "Aeonik Bold";
	font-size: 14px;
	color: #FFFFFF;
	
}




.searchWrapper{
	position: relative;
	height: 38px;

	margin-bottom: 20px;
	
}


.searchIcon{
	position:absolute;
	top: 10px;
	left: 15px;
}

.searchBox{
  width: 100%;
	border-radius: 10px;
	font-family: "Aeonik Medium", sans-serif;
	border: 1px solid #F8F8FA;
	font-size: 14px;
	padding-left: 45px;
	height: 100%;
	outline: 0;
  
}



.tableHeight{
	height: 350px;
	overflow-y: scroll;
}

.rewardBody{
	cursor: pointer;
}

.rewardBody:hover{
  background-color: #FFFFFF;
	border-radius: 5px;
}

.tableHeight::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.tableHeight {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* 
td{
	display: inline-block;
	width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
} */


.rewardHead{
	font-size: 14px;
  font-family: "Aeonik Bold";
  color: #535353;
	padding: 0 5px;
}

/* 
.rewardHead > .rewardName{

	text-align: center;
} */
.rewardSlNo{
	padding-left: 10px;
	width: 50px;
}

.rewardType{
	padding-right: 10px;
	width: 100px;
}

.rewardName{
	width: 200px;
}

.tableLeft{
	border-top-left-radius: 5px ;
	border-bottom-left-radius: 5px;
}

.table{
	border-collapse: collapse;
}


.tableRight{
	border-top-right-radius: 5px ;
	border-bottom-right-radius: 5px;

}

.tableData{
	
	height: 50px;
	font-family: "Aeonik Regular";
	font-size: 14px;
}