.container{
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: center;
	background-color: #FFFFFF;
	font-family: "Aeonik Regular", sans-serif;
	font-size: 14px;
	color: #535353;
	border-radius: 5px;
	border: 1px dashed #ECECEC;
	cursor: pointer;
}

.titleContainer{
	display: flex;
	padding: 10px;
	height: 40px;
	justify-content: space-between;
	width: 100%;
}

.titleText{

}

.arrow{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20px;
	width: 20px;
}

.arrowIcon{
	height: 12px;
	width: 12px;
}

.optionsContainer{
	display: none;
	top: 100%;
	left: 0;
	width: 100%;
	background-color: #FFFFFF;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	border-radius: 5px;
	position: absolute;
	z-index:2;
	cursor: pointer;
}

.optionsContainerActive{
	display: block;
}

.optionValue{
	display: flex;
	
	align-items: center;
	height: 40px;
	padding: 5px;
}

.optionValue:hover{
	background-color: #F8F8FA;
}

