.container{
	flex-grow: 0;
	flex-shrink: 0;
  width: 60px;
	height: 100vh;
	background-color: #FFFFFF;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	

}


.logosWrapper{
	display: flex;
	padding: 5px 10px 5px 10px; 
	height: 100vh;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

}


.logoContainer{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #D299FC;
	width: 40px;
	height: 40px;
	border-radius: 10px;
	box-shadow: 0px 8px 12px -1px rgba(0, 0, 0, 0.12);
}


.catalystLogo{

	width: 22px;
	height: 32px;
	
}

.brandsWrapper{
	display: flex;
	flex-direction: column;

	gap: 14px;

}

.addBrandContainer{

	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FFFFFF;
	width: 40px;
	height: 40px;
	
	border-radius: 10px;
	border: 1px dotted #535353;
}

.addBrand{
	height: 15px;
	width: 15px;
}


.brandContainer{

	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FFFFFF;
	width: 40px;
	height: 40px;
	border-radius: 10px;
	border: 1px solid #535353;

}