.container{
	
	display: flex;
	flex-grow: 0;
	flex-shrink: 0;
	flex-direction: column;
	justify-content: space-between;

	padding-top: 40px;
	padding-bottom: 30px;
	min-height: 100vh;
	width: 230px;
	background-color: #F8F8FA;
	

}

.navWrapper{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.navContainer{

	display: flex;
	flex-direction: column;
	gap: 19px;
}


.navLink{
	display: flex;
	gap: 22px;
	padding-left: 30px;
	height: 24px;
	align-items: center;
	font-family: "Aeonik Medium";
	
}
.navLogo{
	height: 18px;
	width: 18px;
}

.navLogo img{
	height: 100%;
	width: 100%;
}

.navTitle{
	font-size: 14px;
	text-decoration: none;
	color: #535353;
}

.link{
	text-decoration: none;
}


.link:visited{
	color: #535353;
}




.active  > div {
	color: #D299FC !important ;
}



.active{
	display: flex;
	position: relative;
}


a.active::before{
	position: absolute;
	content: "";
	height: 100%;
	width: 2px;
	background-color: #d299fc;
}


.doodleWrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 217px;
}

.doodleImg{
	width: 220px;
	height: 214px;
}

