

input[type="checkbox"].switch{
   position: absolute;
   display: none;
}


input[type="checkbox"].switch + label{
   display: flex;
   position: relative;
}

input[type="checkbox"].switch + label::after{
   content: "";
   
   top: 0;
   left: 0;
   width: 25px;
   height: 100%;
   border-radius: 5px;
   background-color: #B0B0B0;
   position: absolute;
   transition: 150ms ease-in-out;
}



input[type="checkbox"].switch:checked + label::after{

   transform: translateX(100%);
   background-color: #D29AFF;
   position: absolute;
   border-radius: 5px;
}

input[type="checkbox"].switch + label::before{
   
   content: "";
   width: 50px;
   height: 25px;
   background-color: #FFFFFF;
   border: 1px solid #CACACA;
   border-radius: 5px;
}

input[type="checkbox"].switch:checked + label{
   color: red;
}
