.tableRow{
	border-bottom: 1px solid #535353;
	cursor: pointer;
}

.tableData{
	
	height: 50px;
	font-family: "Aeonik Regular";
	font-size: 14px;
}

.rewardSlNo{
	width: 30px;
}


.rewardElName{
	width:210px;
}

.rewardType{
  width: 125px;
}



.primaryAsset{
	
	font-size: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
}


.assetLogo{
	height: 40px;
	width: 40px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.rewardActionWrapper{
	display: flex;
	justify-content: flex-end;
	gap: 9px;
}

.campActionWrite, .campActionDelete{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 25px;
	width: 25px;
	border: 1px solid #535353;
	border-radius: 5px;
}

.campWriteIcon, .campDeleteIcon{
	height: 20px;
	width: 20px;

}

