
*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  

@font-face {
  font-family: 'Aeonik Bold';
  src:  url(./fonts/Aeonik-Bold.otf) ;
}


@font-face {
  font-family: 'Aeonik Medium';
  src:  url(./fonts/Aeonik-Medium.otf) ;
}


@font-face {
  font-family: 'Aeonik Regular';
  src:  url(./fonts/Aeonik-Regular.otf) ;
}


@font-face {
  font-family: "Sophia Pro Medium";
  src: url(./fonts/Sofia-Pro-Regular.otf) ;
}

@font-face {
  font-family: "Sophia Pro Regular";
  src: url(./fonts/Sofia-Pro-Regular.otf) ;
}


